<div class="swatch-detail-container">
  <div style="width: 100%; height: 200px">
  @if(editable) {
    <div style="margin-left: 220px;">
      <input type="text" [(ngModel)]="imageUrl" name="imageUrl" required />
      <input type="text" [(ngModel)]="description" name="description" required />
      <input type="text" [(ngModel)]="quantityType" name="quantityType" required />
      <input type="text" [(ngModel)]="quantity" name="quantity" required />
    </div>
    <button (click)="updateDetails()">Save</button>
    <button (click)="doneEditing()">Done</button>
  }
  @else {
    <div style="width: 200px; float: left;">
	  <a [routerLink]="['/swatch', app_id]">
        <img [src]="imageUrl" alt="Swatch image" />
      </a>
	</div>
    <div style="margin-left: 220px;">
	  <div width="50%">{{ description }}</div><div width="50%">{{ quantityType }} - {{ quantity }}</div>
    </div>
  }
  </div>
</div>
