<div class="register-container">
  <h2>Please fill in the details to create your account.</h2>
  <form (ngSubmit)="onRegister($event)">
    <div>
      <label>Username</label>
      <input type="text" [(value)]="username" name="username" required />
    </div>
    <div>
      <label>Email</label>
      <input type="email" [(value)]="email" name="email" required />
    </div>
    <div>
      <label>Password</label>
      <input type="password" [(value)]="password" name="password" required />
    </div>
    <button type="submit">Register</button>
  </form>
</div>
