.login-container, .register-container, .collection-container, .swatch-detail-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input, button {
  margin-bottom: 10px;
  padding: 8px;
}

img {
  width: 100px;
  height: 100px;
}

a {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
